@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,700&display=swap');
:root{
    --font-green: #1A6167;
    --background-neumorphism: #032D32;/* #0d3d2a*/
    --first-gradient: #032D32;
    --second-gradient: #033237;
    --up-box: #032529; /*#0a3424  #08251a*/
    --down-box: #033D42;  /*#12553a  00442f*/
    --footer: #033D42;
    --footer-font: #032529;
    --url-logo:url(../images/LogoWhite.svg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}  
html, body {
    height: 100%;
    overflow-y: hidden;
    background-color: var(--background-neumorphism);
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--background-neumorphism);
}
#install{
    z-index: 999999999999;
}
.install-content .logoapp{
    position: fixed;
    top: 30%;
}
.install-btn{
    color: #fff;
    font-weight: bold;
    font-family: Poppins;
    text-align: center;
    font-size: 17px;
    position: fixed; 
    min-width: 100px;
    padding: 12px 15px;
    border-radius: 50px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: var(--background-neumorphism);
    border: 3px solid var(--second-gradient);
    animation-name: push;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.install-btn:hover{
    animation: none;
    box-shadow: -6px -6px 8px var(--up-box),
                6px 6px 8px var(--down-box),
                inset -2px -2px 4px var(--up-box),
                inset 2px 2px 4px var(--down-box);

}
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-neumorphism);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-align: center;
}
.modal-content {
    background-color: var(--background-neumorphism);
    border-radius: 5px;
    height: max-content;
    width: 450px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--font-green);
    border-radius: 25px;
    transition: 0.6s ease-out;
    background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
    box-shadow: -5px -5px 10px var(--up-box),
                5px 5px 10px var(--down-box);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px;
    text-decoration: none;
}
.explanation{
    font-family: Poppins;
    font-size: 15px;    
}
.explanation ol{
    text-align: left;
}
.explanation a{
    color: #007bff;
    text-decoration: none;
}
.btns {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btns a{
    text-decoration: none;
}
.retryButton {
    margin-top: 15px;
    color: whitesmoke;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box);
    border: none;
    padding: 12px 15px;
    border: 3px solid  var(--second-gradient);
    border-radius: 25px;
    align-self: center;
    transition: all 0.3s ease-in-out;
}

.retryButton:hover {
    background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box),
        inset -2px -2px 4px var(--up-box),
        inset 2px 2px 4px var(--down-box);
        border: 3px solid var(--second-gradient);
}

.showIstructionBtn{
    color: whitesmoke;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background: var(--background-neumorphism);
    padding: 12px 15px;
    border: 3px solid var(--second-gradient);
    border-radius: 25px;
    align-self: center;
    transition: all 0.3s ease-in-out;
    position: fixed; 
    left: 50%;
    top:73%;
    border-radius: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    animation-name: push;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.showIstructionBtn:hover {
    animation: none;
    background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box),
        inset -2px -2px 4px var(--up-box),
        inset 2px 2px 4px var(--down-box);
}

.loading {
    margin: 0;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    touch-action: pan-down;
    width: 100%;
    z-index: 99999999;
    top: 0;
    background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
   
}
.logoloader {
    background-image: var(--url-logo);
    background-size: contain; 
    background-position: center; 
    height: 40px;
    width: 40px;
    position: fixed; 
    top: 65%;
    left: 50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    border: none; 
    text-decoration: none;
}

.loader-container{
    position: fixed;
    width: 120px;
    height: 120px; 
    border-radius: 100%;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.loader{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader::before{
    content: '';
    width: 65px;
    height: 65px; 
    border: 2px solid #ffffff;
    z-index: 1;
    border-radius: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    /* border-bottom-color: transparent; */
    animation: loader linear infinite 0.75s;
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box),
        inset -2px -2px 4px var(--up-box),
        inset 2px 2px 4px var(--down-box);
}

.loader::after{
    content:'';
    width: 55px;
    height: 55px;
    padding: 20px;
    border: 2px solid white;
    z-index: -1;
    position: absolute;
    border-radius:100%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: inverted-loader linear infinite 1.5s;
    transform: rotate(00deg);
    -webkit-transform: rotate(00deg);
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box),
        inset -2px -2px 4px var(--up-box),
        inset 2px 2px 4px var(--down-box);
    /*display: none; /* -- rimuovere per mostrare seconda barra di caricamento -- */
}

@keyframes loader {
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes inverted-loader {
    100%{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
#console {         
    border-radius: 30px;
    display: flex;
    height: 260px;
    width: 380px;
    padding: 6px 18px;
    background-color: var(--background-neumorphism);
    box-shadow: 0px 0px 0px rgba(12, 12, 12, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box),
        inset -2px -2px 4px var(--up-box),
        inset 2px 2px 4px var(--down-box);
    border: 10px solid var(--second-gradient);
    position: fixed;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/wallpaper.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
#console p {
    font-family: Poppins;
    margin-top: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    color: var(--font-green);
    text-shadow: 0px 0px 10px var(--font-green);
    text-align: center;
    align-items: center;
    justify-content: center;
    animation-name: blink;
    animation-duration: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
.logoapp{
    border-radius: 25px;
    position: fixed;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 120px;
    z-index: 1;
    border: 5px solid var(--second-gradient);
    box-shadow: -6px -6px 8px var(--up-box),
        6px 6px 8px var(--down-box),
        inset -2px -2px 4px var(--up-box),
        inset 2px 2px 4px var(--down-box);
}
.msg {
    box-sizing: border-box;
    z-index: 9999999;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 2vh;
    color: #fff;
    padding: 12px 15px;
    backdrop-filter: blur(20px);
    position: fixed; 
    left: 50%;
    border-radius: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 10%;
    margin-top: 0; 
    text-align: center;
    min-width: 100px;
    animation-name: push;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border: 3px solid var(--second-gradient);
}
.msg:hover{
    animation: none;
    box-shadow: -6px -6px 8px var(--up-box),
                6px 6px 8px var(--down-box),
                inset -2px -2px 4px var(--up-box),
                inset 2px 2px 4px var(--down-box);
}
.msg a {
    text-decoration: none;
    color: whitesmoke;
}
@keyframes push {
    0% {
        box-shadow: -6px -6px 8px var(--up-box),
                    6px 6px 8px var(--down-box);
        background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
    }
    50% {
        box-shadow: -4px -4px 6px var(--up-box),
                    4px 4px 6px var(--down-box),
                    inset -2px -2px 4px var(--up-box),
                    inset 2px 2px 4px var(--down-box);
        background: linear-gradient(315deg, var(--second-gradient), var(--first-gradient));
    }
    100% {
        box-shadow: -6px -6px 8px var(--up-box),
                    6px 6px 8px var(--down-box);
        background: linear-gradient(315deg, var(--first-gradient), var(--second-gradient));
    }
}
